html, body {
  height: auto;
}
body{
     background-image: linear-gradient(to bottom, #e5edf5, #d3e4f4, #c1daf4, #aed1f3, #9ac8f2);

}
div>h2{
    text-align:center;
}
.login{
    margin : auto;
    margin-top :300px;
    height : 300px;
    width : 400px;

    }

.welcome{
    height:200px;
    padding-top:50px;
    text-align : center;
    color: #ffffff;
    background-color:#1d3557;
}
.navbar{
    background-color:#1d3557;
}
.navbar-brand{
 color: #FFFFFF;
}
.navbar li a {
    color: #FFFFFF;

}

.navbar-brand:hover {
     color: white;
}
.navbar-nav{
    float:right;
}
.space{
padding-right:20px;
}

.custombtn{
    width: 100%;
}
.displayForm{
    display:none;
}
.approveBtn{
    display:none;
}